* {
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}
.title h1{
  font-size: 96px;
  font-family: 'Lato', sans-serif;
  text-align: center;

  color:#ffffff;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

  /* Make sure text is infront of background images */
  display:block;
  position: relative;
  z-index: 3;
}

h3 {
  color: rgb(41, 100, 152);
  margin-bottom: 10px;
}

.title h2{
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  /* margin-top:auto;
  margin-left: auto;
  margin-right:auto; */
  text-align: center;

  /* Stryling the text and giving it gradiant */
  color:#ffffff;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

  /* Make sure text is infront of background images */
  display:block;
  position: relative;
  z-index: 3;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(images/twinkling.png) repeat top center;
z-index:1;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(images/clouds.png) repeat top center;
  z-index:2;
  opacity: .4;
  animation:move-clouds-back 200s linear infinite;
}

#content{
  display: block;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  justify-content: center;
}

.education, .experience {
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 50px;
}

.about-container{
  display: block;
  background-color: #000000;
  color:#ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 60px 50px 10px;
}

.content h2{
  font-size: 36px;
}

.introduction{
  max-width: 980px; /* Set the maximum width for the introduction section */
  margin: 1.5rem auto 6rem; /* Center the introduction section within the content div */
  text-align: center;
}

.timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  /* margin-bottom: 6rem; */
  text-align: center;
  color:#000;
}

.timeline-wrap::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: calc(35% + 40px);
  top: 0;
  transform: translateX(-50%);
}

.timeline-block {
  position: relative;
  padding-bottom: 1.2rem;
  text-align: left;
}

.timeline-header {
  float: left;
  width: 35%;
  text-align: right;
  padding-right: 60px;
}

.timeline-header img {
  width: 100px;
  float: left;
  margin: 5px 15px 15px 5px;
}

.timeline-header h2 {
  margin-bottom: 0;
  white-space: wrap;
}

.timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: calc(35% + 40px);
  transform: translateX(-50%);
}

.timeline-ico img {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  left: .05rem;
  top: .2rem;
  width: 50px;
}

.timeline-content {
  margin-left: 35%;
  padding-left: 80px;
}

.timeline-content h2 {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 0.7rem;
}

.timeline-content li {
  margin-bottom: 0.7rem;
}

.timeline-content h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgb(0 0 0 / 20%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.skills-container{
  background-color: #ebeeee;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills {
  padding: 50px 50px;
  max-width: 1024px;
  width: 100%;
}

.skills-left {
  float: left;
  width: 50%;
}

.skills-right {
  float: right;
  width: 50%;
}

* {
  margin: 0;
  padding: 0;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}
.title h1{
  font-size: 96px;
  font-family: 'Lato', sans-serif;
  text-align: center;

  color:#ffffff;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

  /* Make sure text is infront of background images */
  display:block;
  position: relative;
  z-index: 3;
}

h3 {
  color: rgb(41, 100, 152);
  margin-bottom: 10px;
}

.title h2{
  font-size: 32px;
  font-family: 'Lato', sans-serif;
  /* margin-top:auto;
  margin-left: auto;
  margin-right:auto; */
  text-align: center;

  /* Stryling the text and giving it gradiant */
  color:#ffffff;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);

  /* Make sure text is infront of background images */
  display:block;
  position: relative;
  z-index: 3;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
  from {background-position:0 0;}
  to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
position:absolute;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000 url(images/stars.png) repeat top center;
z-index:0;
}

.twinkling{
background:transparent url(images/twinkling.png) repeat top center;
z-index:1;
animation:move-twink-back 200s linear infinite;
}

.clouds{
  background:transparent url(images/clouds.png) repeat top center;
  z-index:2;
  opacity: .4;
  animation:move-clouds-back 200s linear infinite;
}

#content{
  display: block;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  justify-content: center;
}

.education, .experience {
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px 50px;
}

.about-container{
  display: block;
  background-color: #000000;
  color:#ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 60px 50px 10px;
}

.content h2{
  font-size: 36px;
}

.introduction{
  max-width: 980px; /* Set the maximum width for the introduction section */
  margin: 1.5rem auto 6rem; /* Center the introduction section within the content div */
  text-align: center;
}

.timeline-wrap {
  position: relative;
  margin-top: 1.5rem;
  /* margin-bottom: 6rem; */
  text-align: center;
  color:#000;
}

.timeline-wrap::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: calc(35% + 40px);
  top: 0;
  transform: translateX(-50%);
}

.timeline-block {
  position: relative;
  padding-bottom: 1.2rem;
  text-align: left;
}

.timeline-header {
  float: left;
  width: 35%;
  text-align: right;
  padding-right: 60px;
}

.timeline-header img {
  width: 100px;
  float: left;
  margin: 5px 15px 15px 5px;
}

.timeline-header h2 {
  margin-bottom: 0;
  white-space: wrap;
}

.timeline-ico {
  height: 4.8rem;
  width: 4.8rem;
  line-height: 4.8rem;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  left: calc(35% + 40px);
  transform: translateX(-50%);
}

.timeline-ico img {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  left: .05rem;
  top: .2rem;
  width: 50px;
}

.timeline-content {
  margin-left: 35%;
  padding-left: 80px;
}

.timeline-content h2 {
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 0.7rem;
}

.timeline-content li {
  margin-bottom: 0.7rem;
}

.timeline-content h2::after {
  content: "";
  display: block;
  height: 3px;
  width: 50px;
  background: rgb(0 0 0 / 20%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.skills-container{
  background-color: #ebeeee;
  margin: 50px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills {
  padding: 50px 25px 50px;
  max-width: 1024px;
  width: 100%;
}

.skills h2 {
  margin-bottom: 1rem;
}

.skills-left {
  float: left;
  width: 45%;
  padding: 0 calc(5% / 2);
}

.skills-right {
  float: right;
  width: 45%;
  padding: 0 calc(5% / 2);
}

.skills-left h4,
.skills-right h4 {
  margin-bottom: 10px;
}

.skills-left ul,
.skills-right ul {
  list-style-type: none;
  padding: 0;
}

.skills-left li,
.skills-right li {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-name {
  font-weight: bold;
  color: #333;
}
.skill-rating::after {
  content: "\2605";
}

.checked {
  color: #fdd835;
}

.skills-left li:hover,
.skills-right li:hover {
  background-color: #f2f2f2;
}

.skills-left li:hover .skill-name, .skills-right li:hover .skill-name {
  color: #ff9800; 
}

.skills-left li:hover .checked,
.skills-right li:hover .checked {
  color: #ff9800;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('images/space.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #1a1a1a;
  padding: 50px 50px;
}

.contact-section {
  max-width: 800px;
  width: 100%;
  text-align: center;
  color: white;
}

.contact-section h3 {
  color:#e8b25f;
}

.contact-info {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.contact-item {
  text-align: center;
}

.contact-item img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
}

.contact-item h4 {
  font-size: 18px;
}

.contact-item h2, h4 {
  margin: 20px 0;
}

.contact-item a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 20px 0;
}

.contact-item a:hover {
  background-color: #555;
}

.contact-item img {
  width: 50px; /* Adjust the size as needed */
  height: 50px; /* Adjust the size as needed */
  filter: invert(1); /* Inverts the colors to make the image white */
}

@media only screen and (max-width: 600px) {
  .contact-info {
    flex-direction: column;
    align-items: center;
  }

  .contact-item {
    margin-bottom: 20px;
  }
}

.numbers-container {
  position: relative;
}

.number {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  animation: appear-disappear 4s linear infinite;
}

@keyframes appear-disappear {
  0% {
    opacity: 0;
    transform: translateY(100%);
    filter: blur(2px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
    filter: blur(2px);
  }
}

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 50px 0;
}